@import '_config.scss';
@import '_home.scss';
@import '_menu.scss';
@import '_about.scss';
@import '_projects.scss';
@import '_contact.scss';
@import '_responsive.scss';

body{
    background: $secondBackground;
    color: $thirdColor;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1,h2,h3{
    font-weight: 400;
    font-family: 'Ethnocen';
}

a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1.5rem;
}
main{
    height: 100%;
    width: 100%;
    .social-icons{
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        a{
            padding: 0.4rem;
            @include transition-ease;
            &:hover{
                color: $primaryColor;
                text-shadow: 0 0 7px $primaryColor;
            } 
        }
    }
    .text-secondary{
        color: $primarytopColor;
    }
    
}
    footer{
        font-size: 1rem;
        position: fixed;
        bottom: 0.4rem;
        right: 1rem;
        text-align: right;
        padding:1rem;
        color: #fff;
    }